.hero-section{
    background: url("/src/assets/hero.png") 50% / cover no-repeat;
    background-blend-mode: overlay;
    background-color: #1b2d40;
    color: #eaeaea;
    /* margin-block-start: 100px; */
}
.hero-section .col{
    flex: 1 0 0%;
}
.hero-custom-title{
    font-size: 60px;
    font-weight: 700;
    border-bottom: 3px solid #cbcccb;
    width: min-content;
}
.hero-section .info-box{
    background: #111f2ee0;
    border-radius: 0 0 15px;
    box-shadow: 3px 3px 0 -1px #2b6b7d99 !important;
    padding: 8px;
}
@media (max-width: 767.98px){
    .hero-section .info-box{
        margin-bottom: 45px;
        padding: 10px;
        background: #111e2b;
    }
}
.hero-section .span-size{
    font-size: 15px;
    position: absolute;
    margin: 0 5px;
}